*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial;
}

.ctaPopup_inner_img img{
    max-width: 100%;
    height: auto;
}

.ctaPopup{
    display: none;
    width: 100%;
    background-color: #ffffff;
    border-top: 4px solid #f19d46;
    position: fixed;
    bottom: 0;
    padding: 0 50px;
    opacity: 0;
    transition: opacity .5s;
}

.ctaPopup--hidden{
    display: none;
}

.ctaPopup--show{
    display: block;
    opacity: 0;
}

.ctaPopup--fade-in{
    opacity: 1;
}

.ctaPopup--fade-out{
    opacity: 0;
}

.ctaPopup_inner{
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctaPopup_inner_img{
    position: relative;
    width: 35%;
    height: auto;
    transform: translateY(-15%);
}

.ctaPopup_inner_info{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ctaPopup_inner_info_header{
    color: #f19d46;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.ctaPopup_inner_info_text{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin: 0 0 16px 0;
    max-width: 75%;
}

.ctaPopup_inner_info_btn{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #f19d46;
    padding: 16px 40px;
}

.ctaPopup_inner_info_btn:hover{
    opacity: 0.7;
}

.ctaPopup_inner_info_gdpr{
    font-size: 12px;
    margin: 16px 0 0 0;
}

.ctaPopup_close_btn{
    position: absolute;
    background-color: transparent;
    outline: none;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 0.7;
    cursor: pointer;
}

.ctaPopup_close_btn:hover{
    opacity: 1;
}

.ctaPopup_close_btn_line:before, .ctaPopup_close_btn_line:after{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    left: 5px;
    top: 18px;
    background-color: #f19d46;
}

.ctaPopup_close_btn_line:before{
    transform: rotate(-45deg);
}

.ctaPopup_close_btn_line:after{
    transform: rotate(45deg);
}

@media screen and (max-width: 992px){
    .ctaPopup{
        padding: 0 0px 20px 15px;
    }
    .ctaPopup_inner{
        max-width: 970px;
    }
}

@media screen and (max-width: 768px){
    .ctaPopup{
        padding: 0 50px 20px 15px;
    }
    .ctaPopup_inner{
        max-width: 750px;
    }
    .ctaPopup_inner_img{
        width: 40%;
    }
    .ctaPopup_inner_info{
        width: 55%;
    }
    .ctaPopup_inner_info_header{
        font-size: 32px;
        margin: 8px 0;
    }
    .ctaPopup_inner_info_text{
        max-width: 100%;
    }
    .ctaPopup_inner_info_text, .ctaPopup_inner_info_btn{
        font-size: 15px;
    }
    .ctaPopup_inner_info_gdpr{
        font-size: 11px;
    }
    .ctaPopup_close_btn{
        right: -40px;
    }
}

@media screen and (max-width: 600px){
    .ctaPopup{
        padding: 0 15px 20px;
    }
    .ctaPopup_inner{
        max-width: 750px;
        flex-direction: column;
    }
    .ctaPopup_inner_img{
        width: 50%;
        height: 20px;
        transform: translateY(-160px);
    }
    .ctaPopup_inner_info{
        width: 100%;
    }
    .ctaPopup_inner_info_text{
        max-width: 92%;
    }
    .ctaPopup_close_btn{
        right: -5px;
    }
}

@media screen and (max-width: 400px){
    .ctaPopup_inner{
        max-width: 750px;
    }
    .ctaPopup_inner_img{
        width: 80%;
        height: 20px;
        transform: translateY(-170px);
    }
    .ctaPopup_inner_info_header{
        font-size: 25px;
        margin: 8px 0;
    }
    .ctaPopup_inner_info_text{
        max-width: 95%;
    }
    .ctaPopup_inner_info_text, .ctaPopup_inner_info_btn{
        font-size: 14px;
    }
    .ctaPopup_inner_info_gdpr{
        font-size: 11px;
    }
}